#Types Of Objects in Python :

*   Immutable Objects
*   Mutable Objects

# Immutable Objects:

int /
float /
string /
bool /
tuple.

#Mutable Objects:

List /
Set /
Dictionary.

# List

In [1]:
# list should be included in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [2]:
# lists can have multiple data types
my_list = [2, 3, 1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

#Lists are Mutable --> Changeable

In [4]:
# add elements to a list
my_list = [2, 3, 1.8, 'English', True]
my_list.append(6)
# append = to add
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [5]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [6]:
# lists allow duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [7]:
print(len(list_1))

8

In [8]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [9]:
list_2.append(5)
print(list_2)

[5]

In [10]:
# delete an item in a list
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [11]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [14]:
# tuple allows multiple data types
tuple_2 = (1,2,3.5, 'Machine Learning', False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [15]:
# converting  a list to a tuple

my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [16]:
print(my_tuple[0])
print(my_tuple[1])

3
4

#Tuples are immutable --> Unchangeable

In [17]:
my_tuple.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
print(len(my_tuple))

4

In [19]:
# set --> Curly brackets
my_set = {1,2,3,78,5}
print(my_set)
type(my_set)

{1, 2, 3, 5, 78}

set

In [20]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [21]:
# convert a list to a set
list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [22]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

#Dictionary

In [23]:

my_dictionary = {'name':'Hoda','age':24,'country':'France'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Hoda', 'age': 24, 'country': 'France'}

dict

In [24]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Hoda
24
France

In [26]:
# dictionary does not allow duplicate values
dictionary_2 = {'name':'Hoda','age':24,'country':'France','name':'Hoda','age':24,'country':'France'}
print(dictionary_2)

{'name': 'Hoda', 'age': 24, 'country': 'France'}