#Operators in Python:

1) Arithmetic Operators

In [1]:
num_1 = 38
num_2 = 15

# addition
sum = num_1 + num_2
print('sum = ',sum)

# subtraction
diff = num_1 - num_2
print('difference = ',diff)

# multiplication
pro = num_1 * num_2
print('product = ',pro)

# division
quo = num_1 / num_2
print('quotient = ',quo)

# exponent
exp = num_1**num_2   # 38^15
print('exponent = ',exp)

# modulus
mod = num_1 % num_2
print('reminder = ',mod)

sum =  53
difference =  23
product =  570
quotient =  2.533333333333333
exponent =  497455170514937390661632
reminder =  8

2) Assignment Operators

In [2]:
a = 5
a += 5   # a = a + 5
print(a)

10

In [3]:
b = 5
b -= 2   # b = b-2
print(b)

3

3) Comparison Operators

In [4]:
a = 5
b = 10

print(a == b)   # equal to
print(a != b)   # not equal to
print(a > b)    # greater than
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

4) Logical Operators

In [5]:
a = 10

print( a>20 and a>5)
print( a>20 or a>5)
print( not( a>8 and a>5))

False
True
False

In [6]:
x = 5
y = 5

print(x is y)

True

In [7]:

x = 5
y = 10

print(x is y)

False

In [8]:
x = 5
y = 5

print(x is not y)

False

In [9]:
x = 5
y = 10

print(x is not y)

True

6) Membership Operator:

In [10]:

a = 5
b =10

c = [1,2,3,4,5]
print( a in c)
print( b in c)

True
False

In [11]:
a = 5
b =10

c = [1,2,3,4,5]
print( a not in c)
print( b not in c)

False
True