#In this Python notebook, we will explore if-else statements, loops, and functions

In [1]:
#Simple if else statement
a = 30
b = 50

if (a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

In [2]:
a = int(input('Enter the first number : '))
b = int(input('Enter the second number : '))

if (a>b):
  print('First number is the greatest')
else:
  print('Second number is the greatest')

Enter the first number : 16
Enter the second number : 20
Second number is the greatest

In [5]:
#If elif else statement :
a = 15
b = 25
c = 30

if (b<a>c):
  print('a is the greatest number')
elif (a<b>c):
  print('b is the greatest number')
else:
  print('c is the greatest number')

c is the greatest number

In [6]:
#Nested if statement

a = 20
b = 40
c = 60

if (a>b):
  if (a>c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
else:
  if (b>c):
    print('b is the greatest number')
  else:
    print('c is the greatest number')

c is the greatest number

#Loops

In [7]:

laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 209303
Enter the price of the laptop : 298503
Enter the price of the laptop : 394894
Enter the price of the laptop : 398344
Enter the price of the laptop : 383944

In [9]:
for i in range(7):    # 0,1,2,3,4,5,6
  laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 73
Enter the price of the laptop : 233
Enter the price of the laptop : 334
Enter the price of the laptop : 2
Enter the price of the laptop : 3
Enter the price of the laptop : 234
Enter the price of the laptop : 2343

In [10]:

numbers = [50, 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [11]:

numbers = [50, 100, 150, 200]

for i in numbers:
  print(i)

50
100
150
200

#While Loop

##while condition:

##statement

In [12]:

i = 0

while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [13]:
i = 5

while i<3:
  print(i)
  i +=1

#Functions :    
Functions:

Function is a block of code that can be reused in a Program

Factorial of a Number

Factorial of a number is the product of all the positive integers less than or equal to the given number

Factorial of 5 = 5 x 4 x 3 x 2 x 1 = 120

In [14]:
number = int(input(' Enter a number to find its factorial : '))

factorial = 1

if number == 0:
  print(' The Factorial of 0 is 1')

else:
  for i in range(1, number+1):
    factorial = factorial*i
  print('The factorial of ',number,' is',factorial)

 Enter a number to find its factorial : 19
The factorial of  19  is 121645100408832000

In [15]:
# Factorial Function :
def factorial_value(num):

  factorial = 1

  if num == 0:
    return factorial

  else:
    for i in range(1, num+1):
      factorial = factorial*i
    return factorial

In [18]:
print(factorial_value(52))

80658175170943878571660636856403766975289505440883277824000000000000

In [19]:
print(factorial_value(11))

39916800